{{- if .Values.ingress.enabled -}}
{{- $fullName := include "awx.fullname" . -}}
{{- $kubeVersion := .Capabilities.KubeVersion.Version }}
{{- if semverCompare ">= 1.19.0-0" $kubeVersion }}
apiVersion: networking.k8s.io/v1
{{ else if .Capabilities.APIVersions.Has "networking.k8s.io/v1beta1" }}
apiVersion: networking.k8s.io/v1beta1
{{ else }}
apiVersion: extensions/v1beta1
{{ end -}}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "awx.name" . }}
    helm.sh/chart: {{ include "awx.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
{{- if .Values.ingress.defaultBackend }}
{{- if semverCompare ">= 1.19.0-0" $kubeVersion }}
  defaultBackend:
{{- else }}
  backend:
{{- end }}
    {{- if semverCompare ">= 1.19.0-0" $kubeVersion }}
    service:
      name: {{ $fullName }}
      port:
        name: http
    {{- else }}
    serviceName: {{ $fullName }}
    servicePort: http
    {{- end }}
{{- end }}
  rules:
  {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
        {{- range .paths }}
          - path: {{ . }}
            backend:
              {{- if semverCompare ">= 1.19.0-0" $kubeVersion }}
              service:
                name: {{ $fullName }}
                port:
                  name: http
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: http
              {{- end }}
        {{- end }}
  {{- end }}
{{- end }}
